POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
POSTGRES_MAX_CONNECTIONS=300

# Paths abaixo podem ser sobrescritos no host se a stack usar outra estrutura.
CADDYFILE_PATH=./caddy/Caddyfile
POSTGRES_INIT_PATH=./postgres/init
PGBOUNCER_INI_PATH=./pgbouncer/pgbouncer.ini
PGBOUNCER_USERLIST_PATH=./pgbouncer/userlist.txt
