# Metabase
MB_DB_DBNAME=metabase-db
MB_DB_USER=metabase_user
MB_DB_PASS=change-me
MB_SITE_URL=https://metabase.exemplo.com

# n8n
N8N_HOST=automacoes.exemplo.com
N8N_WEBHOOK_URL=automacoes.exemplo.com
N8N_ENCRYPTION_KEY=change-me-with-openssl-rand-hex-32
N8N_DB_USER=postgres
N8N_DB_PASS=change-me

# CloudBeaver
CB_ADMIN_USER=admin
CB_ADMIN_PASSWORD=change-me
